<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopCany.Propriedades.Configuracoes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <DesktopCany.Propriedades.Configuracoes>
            <setting name="AppTitulo" serializeAs="String">
                <value>Cany</value>
            </setting>
            <setting name="EnderecoServidorSQL" serializeAs="String">
                <value>*Nome ou endereço do servidor*</value>
            </setting>
            <setting name="NomeBaseDeDados" serializeAs="String">
                <value>Cany</value>
            </setting>
            <setting name="CorDasTelas" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Colaborador" serializeAs="String">
                <value />
            </setting>
        </DesktopCany.Propriedades.Configuracoes>
    </userSettings>
</configuration>