<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopCany.Propriedades.Configuracoes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <DesktopCany.Propriedades.Configuracoes>
            <setting name="DataBaseLocal" serializeAs="String">
                <value />
            </setting>
            <setting name="StringConexao" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Colaborador" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPosition" serializeAs="String">
                <value>0;0</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="BorderStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DockOrientation" serializeAs="String">
                <value>DockUp</value>
            </setting>
            <setting name="TipoServidor" serializeAs="String">
                <value>SQLITE</value>
            </setting>
            <setting name="PastaLocal" serializeAs="String">
                <value />
            </setting>
        </DesktopCany.Propriedades.Configuracoes>
    </userSettings>
</configuration>